/* === Home Content === */
.home-content {
  padding: 0 40px 40px 40px;
  text-align: center;
}

.home-greeting {
  font-family: "Pacifico", cursive; /* hoáº·c 'Poppins', sans-serif , Pacifico*/
  font-size: 1.2rem;
  color: #ff7b54; 
  margin-bottom: 25px;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
  text-align: right;
}

.home-greeting:hover {
  transform: scale(1.05);
  color: #ff9966;
}

.home-content h6 {
  text-align: left;
}

.home-content p {
  margin-bottom: 30px;
  color: #555;
  text-align: left;
}

/* === Cards === */
.home-card {
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.home-card:hover {
  transform: scale(1.03);
}

.card-icon {
  margin-bottom: 15px;
}

.home-card .btn {
  margin-top: 15px;
}

/* === Footer === */
.home-footer {
  text-align: center;
  padding: 20px 20px;
  border-radius: 20px;
  background: #f1f5ff;
}

.home-footer h4 {
  font-weight: 700;
  margin-bottom: 15px;
}

.home-footer p {
  color: #555;
}
